Source: libsgx-dcap-default-qpl
Section: debug
Priority: optional
Maintainer: <xiangquan.liu@intel.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/intel/SGXDataCenterAttestationPrimitives

Package: libsgx-dcap-default-qpl-dbg
Architecture: i386 ia64 amd64
Depends: libsgx-dcap-default-qpl (= @dep_version@)
Description: Debug Symbols For Intel(R) Software Guard Extensions Default Quote Provider Library
