BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
AccessModifierOffset: -4
AlignEscapedNewlines: DontAlign
AllowShortFunctionsOnASingleLine: InlineOnly
BreakBeforeBraces: Stroustrup
BreakBeforeTernaryOperators: false
BreakStringLiterals: false
ColumnLimit: 120
CompactNamespaces: true
DerivePointerAlignment: true
ExperimentalAutoDetectBinPacking: true
FixNamespaceComments: false
MaxEmptyLinesToKeep: 2
PenaltyBreakBeforeFirstCallParameter: 1
ReflowComments: false
SortIncludes: false
Standard: Auto
TabWidth: 4
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: 'Yes'
