Source: libsgx-dcap-ql
Section: debug
Priority: optional
Maintainer: <xiangquan.liu@intel.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/intel/SGXDataCenterAttestationPrimitives

Package: libsgx-dcap-ql-dbg
Architecture: i386 ia64 amd64
Depends: libsgx-dcap-ql (= @dep_version@)
Description: Debug Symbols for Intel(R) Software Guard Extensions Data Center Attestation Primitives
